# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
**/secrets.yaml

**/__pycache__/**

/local_*

# Python virtual environment
.venv/
.venv-esphome-2025/
venv/

# Build artifacts
a.out
*.o
*.so

# Local ESPHome / PlatformIO environments
.venv-esphome-2026/
.platformio-core-312/
